<%= render @movie %>

<%= link_to "View Movie Shows", shows_path(movie_id: @movie), class: "btn btn-success mb-4" %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-warning" %> |
  <%= link_to "Back to movies", movies_path, class: "btn btn-primary" %>

  <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-danger my-3" %>
</div>
